<!DOCTYPE html>
<head>
  <title>Codewords Flask</title>
</head>
<body>
  <h1>This is a simple login page</h1>
<p>
  Please choose either of the follows
  <ul>
    <li><a href="/login">Login</a></li>
    <li><a href="/signup">Sign up</a></li>
  </ul>
</p>
</body>