<!DOCTYPE html>
<head>
  <title>Codewords Flask</title>
</head>
<body>
  <h1>Welcome to accounts system</h1>
<p>
  Please choose either of the follows
  <ul>
    <li><a href="/login">Login</a></li>
    <li><a href="/sign_up">Sign up</a></li>
    <li><a href="/users_list">List users</a></li>
  </ul>
</p>
</body>