<!DOCTYPE html>
<head>
  <title>Codewords Flask</title>
</head>
<body>
<h1>This is a simple login page</h1>
  <form method="post" action="/login">
    Username: <input type="text" name="username"> <br>
    Username: <input type="password" name="password"> <br>
    <input type="submit" value="Login">
  </form>
</body>