<!DOCTYPE html>
<head>
  <title>Codewords Flask</title>
</head>
<body>
<h1>Please Sign up your account here</h1>
<p>
  Please enter your user name:
<form method="post" action="/sign_up">
  Username: <input type="text" name="username"> <br>
  Password: <input type="password" name="password"> <br>
  Full Name: <input type="text" name="fullname"> <br>
  <input type="submit" value="Sign up">
</form>
</p>
</body>